body {
  background-color: white;
  font-family: sans-serif;
}

:not(a) {
  cursor: default;
}

#header {
  height: 10vw;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 2.6vw;
  font-weight: bold;
  padding: 0;
  float: left;
  font-family: garamond-premier-pro-display, serif;
  font-style: normal;
  margin-left: 5vw;
}

h1 {
  font-weight: 400;
}

#picture img {
  margin-left: 5vw;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-right: 5vw;
  width: 38vw;
  height: 45vw;
  max-width: 480px;
  max-height: 570px;
  float: left;
}

#introduction {
  margin-left: 5vw;
  font-family: Calibri;
  text-align: left;
  margin-right: 5vw;
}
#introduction h1 {
  font-size: 3vw;
  font-weight: normal;
}
#introduction p {
  font-size: 1.8vw;
}

#resume {
  font-size: 1.5vw;
  width: 100%;
  margin-left: 5vw;
}

#demoReel {
  font-size: 1.5vw;
  width: 100%;
  margin-left: 5vw;
}
