body {
  background-color: white;
  font-family: sans-serif;
}

:not(a) {
  cursor: default;
}

#header {
  height: 10vw;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 2.6vw;
  font-weight: bold;
  padding: 0;
  float: left;
  font-family: garamond-premier-pro-display, serif;
  font-style: normal;
  margin-left: 5vw;
}

h1 {
  font-weight: 400;
}

#drawings {
  margin-bottom: 5vw;
  border-radius: 25px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 15px;
  width: 26vw;
  height: 33vw;
  opacity: 0.8;
  float: left;
  text-align: center;
  background: url("artFiles/white.png") center no-repeat,
    url("artFiles/bear.jpg") center no-repeat;
  background-size: 120% 26%, 100% 100%;
  transition: opacity 400ms ease-in-out;
}

#drawings:hover {
  opacity: 1;
}

#paintings {
  margin-bottom: 5vw;
  border-radius: 25px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 15px;
  width: 26vw;
  height: 33vw;
  text-align: center;
  opacity: 0.8;
  float: left;
  background: url("artFiles/white.png") center no-repeat,
    url("artFiles/flower.jpeg") center repeat;
  background-size: 120% 26%, 100% 100%;
  transition: opacity 400ms ease-in-out;
}

#paintings:hover {
  opacity: 1;
}

#digitalArt {
  margin-bottom: 5vw;
  border-radius: 25px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 15px;
  width: 26vw;
  height: 33vw;
  text-align: center;
  float: left;
  opacity: 0.8;
  background: url("artFiles/white.png") center no-repeat,
    url("artFiles/digital.jpg") center repeat;
  background-size: 120% 26%, 140% 100%;
  transition: opacity 400ms ease-in-out;
}

#digitalArt:hover {
  opacity: 1;
}

#menu {
  display: inline-block;
  margin-left: 2vw;
}

#menu a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  font-size: 4vw;
  font-family: "SelenaRegular";
  position: relative;
  text-decoration: none;
  top: 44%;
  font-weight: 400;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#menu a:hover {
  transform: scale(1.1);
}

#menu:hover {
  opacity: 1;
}

#artContents {
  margin-left: 5vw;
  margin-right: 6vw;
}

#categoryHeader {
  font-family: "SelenaRegular";
  font-weight: 400;
  font-size: 4vw;
  margin-bottom: 0.2vw;
}

#projectGallery {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

div.gallery {
  border: none;
  padding: 2vw;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 6px 6px;
  float: left;
  width: 32.9999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
