:not(a) {
  cursor: default;
}

h1 {
  font-weight: 400;
}

#drawings {
  margin-bottom: 5vw;
  border-radius: 25px;
  margin-left: 5vw;
  margin-right: 1vw;
  margin-top: 15px;
  width: 27vw;
  height: 33vw;
  opacity: 0.8;
  float: left;
  text-align: center;
  background: url("artFiles/white.png") center no-repeat,
    url("artFiles/bear.jpg") center no-repeat;
  background-size: 100% 33%, 100% 100%;
}
#drawings a {
  color: black;
  font-size: 5vw;
  font-family: "SelenaRegular";
  position: relative;
  text-decoration: none;
  top: 44%;
  font-weight: bold;
}
#drawings:hover {
  opacity: 1;
}
#drawings a:hover {
  font-size: 5.5vw;
  top: 43%;
}
#paintings {
  margin-bottom: 5vw;
  border-radius: 25px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 15px;
  width: 27vw;
  height: 33vw;
  text-align: center;
  opacity: 0.8;
  float: left;
  background: url("artFiles/white.png") center no-repeat,
    url("artFiles/flower.jpeg") center repeat;
  background-size: 100% 33%, 100% 100%;
}
#paintings a {
  color: black;
  font-size: 5vw;
  font-family: "SelenaRegular";
  position: relative;
  text-decoration: none;
  top: 44%;
  font-weight: bold;
}
#paintings:hover {
  opacity: 1;
}
#paintings a:hover {
  font-size: 5.5vw;
  top: 43%;
}
#digitalArt {
  margin-bottom: 5vw;
  border-radius: 25px;
  margin-left: 1vw;
  margin-right: 5vw;
  margin-top: 15px;
  width: 27vw;
  height: 33vw;
  text-align: center;
  float: left;
  opacity: 0.8;
  background: url("artFiles/white.png") center no-repeat,
    url("artFiles/digital.jpg") center repeat;
  background-size: 100% 33%, 140% 100%;
}

#digitalArt a {
  color: black;
  font-size: 5vw;
  font-family: "SelenaRegular";
  position: relative;
  text-decoration: none;
  top: 44%;
  font-weight: bold;
}
#digitalArt:hover {
  opacity: 1;
}
#digitalArt a:hover {
  font-size: 5.5vw;
  top: 43%;
}

#artContents {
  margin-left: 5vw;
  margin-right: 6vw;
}

#categoryHeader {
  font-family: "SelenaRegular";
  font-size: 4vw;
  margin-bottom: 0.2vw;
}

#projectGallery {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

div.gallery {
  border: none;
  padding: 2vw;
  float: left;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

div.desc {
  padding: 5px;
  border: none;
  float: left;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 6px 6px;
  float: left;
  width: 32.9999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
