#footer {
  margin-top: 3.5vw;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  font-size: 1.5vw;
  font-family: sans-serif;
  font-style: normal;
  border-spacing: 2vw 2vw;
  color: rgba(0, 0, 0, 0.6);
}

#footerdiv {
  display: flex;
  justify-content: center;
}

#footer img {
  opacity: 0.5;
  height: 2vw;
  max-height: 24px;
  max-width: 24px;
  transition: opacity 0.2s ease-in;
  padding-right: 4px;
  padding-left: 4px;
  box-sizing: unset;
}

#footer a {
  text-decoration: none;
}

#footer img:hover {
  opacity: 1;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  #footer {
    font-size: 18px;
  }
}
